_minted*
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
!Klasa 3/systemy baz danych/pracownia baz danych/**.pdf
*.dbf
*.zip
__latexindent_temp.tex
*.au
**/Thumbs.db
Klasa 4/witryny i aplikacje internetowe/pracownia/PHP
*.bbl
*.blg
*.dvi
